<section class="mt-16 bg-cover bg-center bg-no-repeat bg-[url('/bg-jumbotron.webp')] bg-gray-500 bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
            Bienvenidos a nuestro portal
        </h1>
        <p class="mb-8 text-lg font-normal text-slate-300 lg:text-xl sm:px-16 lg:px-48">
            Descubra los beneficios que tu comunidad te ofrece.
        </p>
    </div>
</section>
